@section featured {
    <section class="featured">
        <div class="container">
            <h2>Featured Deals & Coupons</h2>

        </div>
        <div class="container">
            <h2>Hot Deals & Coupons</h2>

        </div>
    </section>
}