@model ActivityCenter.Models.Home.HomeViewDataModel

@section featured {
    <section class="featured">
        <div class="single">
            <h1 class="pageTitle">
                <span>Featured Deals &amp; Coupons</span>
            </h1>
            <ul class="flex-container">
                <div>
                    <li class="flex-item">
                        <img src="~/VendorImages/Macys.jpg" />
                     <a href="http://www.dealsplus.com/?page=1" class="lightPurpleButton" target="_blank">Shop Now</a>
                    </li>
                </div>
                
                <li class="flex-item">Item 2</li>
                <li class="flex-item">Item 3</li>
                <li class="flex-item">Item 4</li>
                <li class="flex-item">Item 5</li>
            </ul>
        </div>
        <div class="row">
            <h1 class="pageTitle">
                <span>Hot Deals &amp; Coupons</span>
            </h1>
            <ul class="flex-container">
                <li class="flex-item">Item 1</li>
                <li class="flex-item">Item 2</li>
                <li class="flex-item">Item 3</li>
                <li class="flex-item">Item 4</li>
                <li class="flex-item">Item 5</li>
                <li class="flex-item">Item 6</li>
                <li class="flex-item">Item 7</li>
                <li class="flex-item">Item 8</li>
                <li class="flex-item">Item 9</li>
                <li class="flex-item">Item 10</li>
                <li class="flex-item">Item 11</li>
                <li class="flex-item">Item 12</li>
                <li class="flex-item">Item 13</li>
                <li class="flex-item">Item 14</li>
                <li class="flex-item">Item 15</li>
                <li class="flex-item">Item 16</li>
                <li class="flex-item">Item 17</li>
                <li class="flex-item">Item 18</li>
                <li class="flex-item">Item 19</li>
                <li class="flex-item">Item 20</li>
            </ul>
        </div>
    </section>
}
